{% extends "includes/layouts/base.njk" %}

{% set metaTitle = "Growser" %}
{% set metaDescription = "Regional Produced Food" %}

{% block content %}

    <main class="content" role="main">

        {# Splash section #}
        <section class="section section--splash">

        </section>

        {# Why section #}
        <section class="section section--why">
            <div class="container-fluid">
                <div class="row">

                </div>
            </div>
        </section>


    </main>

{% endblock %}
