{% set routes = [
    {
        routeLabel: "why",
        routeLink: "#why"
    },
    {
        routeLabel: "how",
        routeLink: "#how"
    },
    {
        routeLabel: "what",
        routeLink: "#what"
    },
    {
        routeLabel: "about",
        routeLink: "#about"
    }
] %}

<ul class="no-style navigation">
    {% for route in routes %}
    <li class="navigation__item">
        <a href="{{ route.routeLink }}" title="{{ route.routeLabel }}" class="navigation__link">
            {{ route.routeLabel }}
        </a>
    </li>
    {% endfor %}
</ul>